body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f7f3ee;
    color: #0d1b50;
}
.container{
    width: 1120px;
    margin: 0 auto
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
header{
    background: #172d46;
    color: #ece1d4;
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid #165674;
    box-shadow: 0 0 5px #020305d5;
    box-sizing: border-box;
}
header h1{
    margin: 0;
    display: inline-block;
    padding: 15px 29px 25px 0;
}
.nav-list, nav{
    display: inline-block;
    padding: 0;
}
header ul li{
    list-style-type: none;
    display: inline-block;
    border-radius: 5px;
    padding-bottom: 5px;

    &:hover{
        background-color: #1e3957;
    }
}
header ul li a{
    color: #ece1d4;
    font-size: 20px;
    padding: 0 10px;
}
h2{
    text-align: center;
    font-size: 35px;
}
.doctors-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
    height: 400px;
}
.doctor-card,
.schedule-card{
    background-color: #eeebe7;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 0 5px #0203055e;
    transition: 0.1s ease;

    &:hover{
        box-shadow: 0 0 5px #02030586;
    }
}
.doctor-card{
    width: 350px;
}
.doctor-card h3,
.doctor-card h4{
    font-size: 28px;
    margin: 0;
    padding: 15px 0;
}
.doctor-card h4{
    font-size: 23px;
    padding: 10px 0;
    font-weight: 500;
}
.doctor-card p{
    font-size: 18px;
}
.btn{
    background-color: #e2e0de;
    border-radius: 5px;
    box-shadow: 0 0 2px #0203055e;
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;

    &:hover{
        box-shadow: 0 0 4px #02030586;
    }
}
.btn a{
    padding: 8px;
    display: inline-block;
    color: #165674;
    font-size: 18px;

    &:hover{
        color: #0a3549;
    }
}
.doctor-card img{
    height: 100px;
    width: 100px;
}
#schedule,
#appointment{
    margin: 40px 0;
}
.schedule-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}
.schedule-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 300px
}
.schedule-card h3,
.schedule-card h4{
    font-size: 24px;
    margin: 0;
}
.schedule-card h3:last-of-type{
    font-weight: 500;
}
.schedule-card h4{
    font-size: 20;
    font-weight: 500;
}
.schedule-card .btn{
    margin: 0 auto;
    height: 60px;
    width: 240px;
}
.schedule-card .btn a{
    font-size: 22px;
    padding-top: 15px;
}
footer{
    background: #172d46;
    color: #ece1d4;
    display: flex;
    flex-direction: column;
    border-top: 3px solid #165674;
    box-shadow: 0 0 5px #020305d5;
    box-sizing: border-box;
    margin-top: auto;
    text-align: center;
    margin-top: 100px;
}
footer ul li{
    list-style-type: none;
}
footer li a{
    color: #ece1d4;
}
footer ul{
    padding: 0;
}
footer h4{
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;
}
.footerBottom p{
    margin: 10px 0;
}
.footerBottom{
    background: #15283f;
}
.form{
    margin: 0 auto;
}
form{
    width: 600px;
    height: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #eeebe7;
    box-sizing: border-box;
    border-radius: 7px;
    box-shadow: 0 0 5px #0203055e;
    transition: 0.1s ease;

}
.form-div{
    display: inline-block;
    width: 290px;
    margin: 0 3px;
}
form p{
    font-size: 20px;
    text-align: center;
    margin: 15px 0;
}
input,
select{
    display: block;
    width: 320px;
    height: 50px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 12px 16px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #165674; 
    font-size: 19px;
    font-weight: 300;
    transition: 0.1s ease;

    &:hover{
        box-shadow: 0 0 4px #02030586;
    }
}
select{
    padding: 0;
    padding-left: 16px;
    appearance: none;
}
.form-div input,
.form-div select{
    width: 260px;
}
.form h3{
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}
.btn-submit{
    width: 400px;
    height: 45px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid #165674;
    background-color:#224266;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: white;
    transition: 0.2s ease;

    &:hover{
        opacity: 0.9;
        box-shadow: 0 0 4px #02030586;
    }
}